.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: .75rem 1.5rem;
  background: var(--nav-bg);
  border: 1px solid #404040;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 1.5rem;
  max-width: 315px;
  height: 42px;
  margin: 1rem auto;
}

.nav-bar a {
  color: var(--font-color);
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

.nav-bar a:hover {
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
}
