.card {
  display: flex;
  gap: 1.125rem;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.02);
  border-bottom: 2px solid #373B3D;

  & .num {
    font-family: 'IBM Plex Mono';
    font-size: var(--font-secondary-size);
    color: rgba(255, 255, 255, 0.75);
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & .card-title {
    font-family: 'Archivo', sans-serif;
    font-size: var(--font-size);
    font-variation-settings: "wdth" 100;
  }

  & .sub-info {
    font-family: 'IBM Plex Mono', monospace;
    font-size: var(--font-secondary-size);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: rgba(255, 255, 255, 0.75);
  }

  & h3 {
    margin: 0;
  }
}

.portfolio-cards a, .portfolio-cards a:visited {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 480px) {
  .card {
    padding: 1rem;
  }
  .card-info {
    gap: 0.25rem;
  }
}