---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import '../styles/index.css';

const position1 = 'Front-end Developer';
const position2 = 'UI/UX Designer';
const location = 'Brooklyn, NY';
---

<Layout title="Skylar Clemens">
	<main>
		<div class="container">
			<div class="content dashed-border">
				<Navigation />
				<div class="hero">
					<div class="bg-grid"></div>
					<span>I'm Skylar - an independent</span>
					<div class="positions">
						<span class="code dev">{position1}</span>
						<span>&</span>
						<span class="heading ux">{position2}</span>
					</div>
					<span>based in {location}.</span>
				</div>
				<h2 class="heading">Portfolio</h2>
			</div>
		</div>
	</main>
</Layout>